@import "tailwindcss";

body {
  margin: 0;

}

@keyframes dotAnimation {

  0%,
  100% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-dot {
  animation: dotAnimation 1.5s infinite ease-in-out;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}